@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  color: white;
  font-family: Inter;
  font-size: 16px;
  background: #090e16;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.3em;
  transition: 0.1s ease-in;
}

::-webkit-scrollbar:hover {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: indigo;
  outline: 1px solid slategrey;
}
